@model IEnumerable<ShoppingCart.Entities.User>

<table class="table table-bordered d-none d-md-table" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Reset)</th>
            <th>@Html.DisplayNameFor(model => model.Active)</th>
            <th data-orderable="false" data-searchable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>
                    @Html.Raw(user.Reset ? "<span class='text-success'>Si</span>" : "<span class='text-danger'>No</span>")
                </td>
                <td>
                    @Html.Raw(user.Active ? "<span class='text-success'>Activo</span>" : "<span class='text-danger'>Inactivo</span>")
                </td>
                <td>
                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editUserModal-@user.Id">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="@Url.Action("Remove", "Users", new { id = user.Id })" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
